<div class="statistics-wrapper">
  <table>
    <thead>
      <tr>
        <th>Ad/Soyad</th>
        <th>Elektron ünvan</th>
        <th>Əlaqə nömrəsi</th>
        <th>Son imtahan nəticəsi (%)</th>
      </tr>
    </thead>
    <tbody>
      <tr
        (click)="getUserAnswers(item.id, item.attended_quiz)"
        *ngFor="let item of tableData"
      >
        <td>{{ item.name }} {{ item.surname }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.phone_number }}</td>
        <td>
          {{
            item.attended_quiz === 0
              ? "İştirak etməyib"
              : item.last_quiz_score + "%"
          }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="attendedQuiz" class="quiz-holder">
  <div class="quiz-content">
    <div
      class="question-holder"
      *ngFor="let question of questions; let index = index"
    >
      <div
        class="icon-holder"
        *ngIf="userAnswers.charAt(index) === questionAnswers[question.answer]"
      >
        <img src="../../../../assets/SVGs/accept.svg" alt="" />
      </div>
      <p>
        İstifadəçinin seçdiyi cavab:
        {{ questionAnswers[userAnswers.charAt(index)] }}
      </p>
      <p style="color: green">
        Düzgün cavab: {{ questionAnswers[question.answer] }}
      </p>
      <div class="image-holder">
        <img
          src="http://65.108.246.46:8000/images/{{ question.question_image }}"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
