<div class="panel-wrapper">
  <div class="panel">


    <div [formGroup]="finalForm" class="selected-images">
      <div class="exam-details">
        <div class="buttons-wrapper">
          <label for="questions">
            <input #fileInput id="questions" (change)="countSelectedQuestions($event)" accept="image/png, image/jpeg"
              type="file" multiple style="display: none" />
            Sualları seç ({{ selectedFilesNumber }})
          </label>

          <div class="clean-button" (click)="removeQuestions()">
            <span>Seçimi təmizlə</span>
          </div>
        </div>
        <input placeholder="İmtahan adı" formControlName="quizName" />
        <input placeholder="İmtahan müddəti (dəq)" formControlName="quizDuration" />
        <div class="submit-button-wrapper">
          <button [disabled]="createQuizDisabled" (click)="createQuiz()" type="button">
            Yarat
          </button>
        </div>
      </div>
      <div class="general-holder" *ngFor="let item of questionsImages?.controls; let i = index">
        <div class="question-holder">
          <div class="question-header">
            <p class="question-text">{{ i + 1 }}. {{ item.value.imageName }}</p>
            <div (click)="removeCurrentQuestion(i)" class="remove-question"></div>
          </div>

          <div class="image-holder">
            <img class="question-image" [src]="filesMap.get(item.value.imageName).imageSrc" />
          </div>
          <ul>
            <li *ngFor="let option of answerOptions; let j = index">
              <label>
                <input [value]="item.value.trueAnswer" [name]="i" (click)="addCorrectAnswer(i, j)" type="radio" />
                {{ option }}
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>