<div class="login-holder">
  <div class="login-right">
    <div class="login-form-holder">
      <h3>Hesabınıza daxil olun</h3>

      <form [formGroup]="loginForm">
        <label>Email</label>
        <input formControlName="email" type="email" ngModel email />

        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="alert"
        >
          <div *ngIf="email.errors?.['required']">Email daxil edin.</div>
          <div *ngIf="email.errors?.['pattern']">
            Email düzgün daxil olunmayıb
          </div>
        </div>

        <label>Şifrə</label>
        <input formControlName="password" type="password" ngModel />
        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="alert"
        >
          <div *ngIf="password.errors?.['required']">Şifrəni daxil edin!</div>
          <div *ngIf="password.errors?.['minlength']">
            Şifrə 8 simvoldan daha uzun olmalıdır!
          </div>
        </div>
        <button
          class="login-button"
          type="submit"
          (click)="submit()"
          (keyup.enter)="submit()"
        >
          Daxil ol
        </button>
      </form>
      <a routerLink="/signup"
        >Hesabınız yoxdur? <span>Yeni hesab yaradın</span></a
      >
    </div>
  </div>
</div>
