<div class="login-holder">
  <div class="login-right">
    <div class="login-form-holder">
      <h3>Yeni hesab yaradın</h3>
      <form [formGroup]="signupForm" (ngSubmit)="createNewAccount()">
        <div class="name-surname">
          <input placeholder="Ad" formControlName="name" type="text" ngModel />

          <div
            *ngIf="name.invalid && (name.dirty || name.touched)"
            class="alert"
          >
            <div *ngIf="name.errors?.['required']">Adı daxil edin!</div>
            <div *ngIf="name.errors?.['minlength']">
              Ad 3 simvoldan daha uzun olmalıdır!
            </div>
          </div>

          <input
            placeholder="Soyad"
            formControlName="surname"
            type="text"
            ngModel
          />
          <div
            *ngIf="surname.invalid && (surname.dirty || surname.touched)"
            class="alert"
          >
            <div *ngIf="surname.errors?.['required']">Soyadı daxil edin!</div>
            <div *ngIf="surname.errors?.['minlength']">
              Soyad 5 simvoldan daha uzun olmalıdır!
            </div>
          </div>
        </div>

        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" ngModel email />
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="alert"
        >
          <div *ngIf="email.errors?.['required']">Email daxil edin.</div>
          <div *ngIf="email.errors?.['pattern']">
            Email düzgün daxil olunmayıb
          </div>
        </div>

        <label for="phoneNumber">Telefon nömrəsi</label>
        <input
          type="text"
          id="phoneNumber"
          formControlName="phoneNumber"
          type="text"
          ngModel
          phoneNumber
        />
        <div
          *ngIf="
            phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)
          "
          class="alert"
        >
          <div *ngIf="phoneNumber.errors?.['required']">
            Telefon nömrənizi daxil edin.
          </div>
          <div *ngIf="phoneNumber.errors?.['pattern']">
            Telefon nömrəsi düzgün daxil olunmayıb
          </div>
        </div>

        <label for="password">Şifrə</label>
        <input id="password" formControlName="password" type="password" />
        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="alert"
        >
          <div *ngIf="password.errors?.['required']">Şifrəni daxil edin!</div>
          <div *ngIf="password.errors?.['minlength']">
            Şifrə 8 simvoldan daha uzun olmalıdır!
          </div>
        </div>

        <div class="admin-holder">
          <input
            ngModel
            id="isAdmin"
            formControlName="isAdmin"
            type="checkbox"
          />
          <label for="isAdmin">Admin</label>
        </div>

        <button
          class="login-button"
          type="submit"
          (keyup.enter)="createNewAccount()"
        >
          Yarat
        </button>
      </form>
      <a routerLink="/login"
        >Artıq hesabınız var? <span>Hesabınıza daxil olun</span></a
      >
    </div>
  </div>
</div>
