<div class="question-holder" [ngClass]="correctAnswer ===0 ? 'nothing' : correctAnswer === question.value.selectedAnswerId  ? 'green' : 'red'">
  <p class="question-text">
    {{ question.value.order }}
  </p>

  <div class="image-holder">
    <img src="http://localhost:8000/images/{{ question.value.image }}" alt="" />
  </div>
  <ul>
    <li *ngFor="let option of question.value.answerOptions">
      <label>
        <input
          [disabled]="isExamEnd"
          (change)="
            question.patchValue({ selectedAnswerId: questionAnswers[option] })
          "
          [attr.name]="question.value.order"
          type="radio"
        />
        {{ option }}
      </label>
    </li>
  </ul>
  <p style="font-size: 18px;" *ngIf="correctAnswer !==0">Düzgün cavab: {{questionAnswers[correctAnswer]}}</p>
</div>
