@font-face {
  font-family: "Nunito";
  font-weight: 700;
  src: url("./assets/fonts/NunitoSans/NunitoSans-Bold.ttf");
}

@font-face {
  font-family: "Nunito";
  font-weight: 400;
  src: url("./assets/fonts/NunitoSans/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: "Nunito";
  font-weight: 600;
  src: url("./assets/fonts/NunitoSans/NunitoSans-SemiBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", serif;
  font-weight: 400;
  text-decoration: none;
}

body {
  width: 100%;
}

html {
  font-size: 10px;
}

*:focus {
  outline: none;
}

ul {
  list-style: none;
}

button {
  border: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.green-snackbar {
  background: #04aa6d;
  color: white;
}

.green-snackbar button {
  background-color: white;
  color: black;
  border: none;
}

.red-snackbar {
  background: #f44336;
  color: white;
}

.red-snackbar button {
  background-color: white;
  color: black !important;
  border: none;
}
