// 7F265B
.panel-wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: #FFFFFF;

    .panel {
        width: 64rem;
        padding-top: 2rem;
        margin: 0 auto;

        .buttons-wrapper {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.5rem;

            label,
            .clean-button {
                display: inline-block;
                background-color: #7F265B;
                color: white;
                padding: 1rem 1.5rem;
                min-height: 4.3rem;
                text-align: center;
                border-radius: 0.3rem;
                cursor: pointer;
                font-size: 1.4rem;
                letter-spacing: 0.1rem;
                transition: .2s;
                font-weight: 600;

                &:hover {
                    box-shadow: rgb(9 30 66 / 25%) 0px 4px 8px -2px, rgb(9 30 66 / 8%) 0px 0px 0px 1px;
                    background-color: white;
                    color: #7F265B;

                }
            }

            .clean-button {
                display: flex;
                background-color: #f4345a;

                span {
                    color: white;
                    text-overflow: ellipsis;

                }

                &:hover .icon-holder {
                    background-color: #f4345a;
                }

                &:hover span {
                    color: #f4345a;
                }

                .icon-holder {
                    width: 100%;
                    height: 100%;
                    background-color: white;

                }
            }

        }

    }

    .selected-images {
        padding-bottom: 2rem;
    }
}

.question-holder {
    width: 100%;
    margin: 0 auto;
    border-radius: 1rem;
    margin-bottom: 3rem;
    background-color: #eeeeee;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid #00000017;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 2.4rem;
    page-break-inside: avoid;
    word-wrap: break-word;
    transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1);

    height: 100%;

    .question-text {
        font-weight: 600;
        font-size: 2rem;
    }

    .answer-holder:first-of-type {
        margin-top: 1.5rem;
    }

    .answer-holder label {
        font-size: 1.8rem;
        margin-top: 0.8rem;

        input[type='radio'] {
            transform: scale(1.5);
            margin-right: 1rem;
        }
    }
}

.image-holder {
    width: 90%;
    margin: 0 auto;
    object-fit: cover;
    margin-top: 1.6rem;

    img {
        width: 100%;
        height: 100%;
    }
}


.submit-button-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;


    button {

        display: inline-block;
        background-color: #00C9AF;
        color: white;
        padding: 1rem 2rem;
        text-align: center;
        border-radius: 0.3rem;
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
        transition: .2s;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            box-shadow: rgb(9 30 66 / 25%) 0px 4px 8px -2px, rgb(9 30 66 / 8%) 0px 0px 0px 1px;
            background-color: white;
            color: #00C9AF;

        }

        &:disabled {
            background-color: grey;
            color: white;
            cursor: no-drop;


            &:hover {
                box-shadow: none;
            }
        }
    }
}

.exam-details {
    width: 30rem;
    position: fixed;
    right: 2rem;
    display: flex;
    flex-direction: column;

    input {
        height: 4.5rem;
        width: 100%;
        border: 1px solid #DED2D9;
        padding: 13px 10px;
        border-radius: 5px;
        font-size: 14px;
        margin-bottom: 1.5rem;

        &:focus {
            border: 1px solid #7F265B;
        }

    }
}

.remove-question {
    background-color: red;
    mask: url('../../../../assets/SVGs/bin.svg') no-repeat center;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
}

.general-holder {
    display: flex;
    align-items: center;
}

.question-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-around;


    li {
        cursor: pointer;
        margin-bottom: 1rem;

        label {
            display: flex;
            align-items: center;
            font-size: 11pt;
            line-height: 15pt;
            letter-spacing: 0;
        }

        input {
            height: 2rem;
            width: 1.5rem;
            margin-right: 0.75rem;
        }
    }
}